@{
    ViewData["Title"] = "Home Page";
}

<div class="container image-container">
        <img class="container" src="https://cdn.pixabay.com/photo/2016/01/18/16/20/food-1146822_1280.jpg" />
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                <h1 class="display-5 fw-bolder text-dark mb-2">Disfruta de alimentos frescos y  <span class="text-success">naturales</span></h1>
                    <p class="lead text-dark mb-4">Desde la comodidad de tu hogar y perfectamente diseñados para ti</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                    <a class="btn btn-outline-success btn-lg px-4 me-sm-3" href="#features">Pedir Ahora</a>
                    <a class="btn btn-outline-dark btn-lg px-4" href="#!">Conocer más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


<section class="py-3 border-bottom" id="features">
    <div class="container px-5 my-5 border border-success rounded-2">
        <div class="row gx-5">
            <div class="col-lg-4 mb-lg-0 ">
                <div class="feature bg-primary bg-gradient text-white  rounded-3 mb-3 "><i class="bi bi-collection"></i></div>
                <h2 class="h5 fw-bold mb-1 text-dark text-center">Sano y sostenible</h2>
                <p class="lead text-dark mb-4 text-sm-center">Creamos nuestros platos con productos locales y naturales, apoyando al medioambiente, pequeños negocios y tu salud.</p>
            </div>
            <div class="col-lg-4 mb-lg-0 ">
                <div class="feature bg-primary bg-gradient text-white  rounded-3 mb-3"><i class="bi bi-building"></i></div>
                <h2 class="h5 fw-bold mb-1 text-dark text-center">Profesional</h2>
                <p class="lead text-dark mb-4 text-sm-center">Nuestros chefs cuentan con una gran experiencia en nutrición y estan preparados para hacer llegar sus mejores creaciones a tu mesa.</p>
            </div>
            <div class="col-lg-4 mb-lg-0 ">
                <div class="feature bg-primary bg-gradient text-white  rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                <h2 class="h5 fw-bold mb-1 text-dark text-center">A tu medida</h2>
                <p class="lead text-dark mb-4 text-sm-center">El comer sano cada día es sencillo con nuestros planes alimenticios y suscripciones de acuerdo a tus preferencias y restricciones alimenticias.</p>
            </div>
        </div>
    </div>
</section>

<section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">Conoce algunas de nuestras <span class="text-success">suscripciones</span></h2>
            <p class="lead mb-0">Elige la que más se acomode a tus necesidades</p>
        </div>
        <div class="row gx-5 justify-content-center">

            <div class="col-lg-6 col-xl-4">
                <div class="card mb-5 mb-xl-0">
                    <div class="card-body p-5">
                        <div class="small text-uppercase fw-bold text-muted">Semanal</div>
                        <div class="mb-3">
                            <span class="display-6 fw-bold">$80.000</span>
                            <span class="text-muted">/ semana</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                <strong>1 menú semanal</strong>
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                1 Modificación del menú con especialista en nutrición
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Menú con 21 platos diferentes: entrada, plato fuerte y postre
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Despacho diario sin costo a 1 domicilio
                            </li>
                        </ul>
                        <div class="d-grid"><a class="btn btn-outline-success" href="#!">Adquirir Suscripción</a></div>
                    </div>
                </div>
            </div>
            <!-- Pricing card pro-->
            <div class="col-lg-6 col-xl-4">
                <div class="card mb-5 mb-xl-0">
                    <div class="card-body p-5">
                        <div class="small text-uppercase fw-bold">
                            <i class="bi bi-star-fill text-warning"></i>
                            Quincenal
                        </div>
                        <div class="mb-3">
                            <span class="display-6 fw-bold">$100.000</span>
                            <span class="text-muted">/ 2 semanas</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                <strong>2 menús semanales</strong>
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                2 Modificaciones del menú con especialista en nutrición
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Menú con 42 platos diferentes: entrada, plato fuerte y postre
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Despacho diario sin costo a 1 domicilio
                            </li>
                        </ul>
                        <div class="d-grid"><a class="btn btn-outline-success" href="#!">Adquirir Suscripción</a></div>
                    </div>
                </div>
            </div>
            <!-- Pricing card enterprise-->
            <div class="col-lg-6 col-xl-4">
                <div class="card">
                    <div class="card-body p-5">
                        <div class="small text-uppercase fw-bold text-muted">Mensual</div>
                        <div class="mb-3">
                            <span class="display-6 fw-bold">$170.000</span>
                            <span class="text-muted">/ mes</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                <strong>4 menús semanales</strong>
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Modificaciones ilimitadas al menú con especialista en nutrición
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Menú con 90 platos diferentes personalizables: entrada, plato fuerte y postre
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Despacho diario sin costo a más de 2 domicilios 
                            </li>
                        </ul>
                        <div class="d-grid"><a class="btn btn-outline-success" href="#!">Adquirir Suscripción</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials section-->
<section class="py-5 border-bottom">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">Lo que dicen nuestros <span class="text-success">clientes</span></h2>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <!-- Testimonial 1-->
                <div class="card mb-4">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                            <div class="ms-4">
                                <p class="lead mb-1">Desde que descubrí este restaurante de comida saludable, mi vida ha
                                    cambiado por completo. Me encanta la variedad de opciones frescas y nutritivas
                                    que ofrecen.¡Ahora puedo disfrutar de comida sabrosa y saludable sin sacrificar el placer de comer!"</p>
                                <div class="small text-muted">- Maria, Barbosa</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Testimonial 2-->
                <div class="card">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                            <div class="ms-4">
                                <p class="lead mb-1">"Como alguien que siempre ha cuidado su alimentación, encontrar este restaurante ha sido todo un hallazgo.
                                    Los ingredientes frescos y de origen local hacen que la comida tenga un sabor excepcional. Además,
                                    la presentación de los platos es impecable. Recomiendo este restaurante a todos aquellos que deseen disfrutar de una comida saludable y deliciosa.
                                </p>
                                <div class="small text-muted">- Carlos, Medellín</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container px-5 w-100"><p class="m-0 text-center text-white">Copyright &copy; Organa 2023</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
