@model WebPagesOrgana.Models.MenuViewModel

@{
    ViewData["Title"] = "Create";
}
<h1 class="text-success text-center mt-5">@ViewData["Title"]</h1>

<div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>


            <div class="form-group mt-3">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label asp-for="SelectedDishId" class="control-label"></label>

                <select asp-for="SelectedDishId" asp-items="@(new SelectList(Model.Dishes, "Id", "Name"))" class="form-control">
                    <option value="">Seleccione un plato</option>
                </select>
                <span asp-validation-for="SelectedDishId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-outline-primary" />
                <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}